<div class="-mr-2 -my-2 ml-3 md:hidden">
    <button type="button" class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
        {% render 'icon-menu' %}
    </button>
</div>